<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912821432229-ak744902srk963t07u5rhiuaqu5vkpfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912821432229-ak744902srk963t07u5rhiuaqu5vkpfp</string>
	<key>API_KEY</key>
	<string>AIzaSyCQFybVJVZAseNeFt16MQwK891A-8Zr5iE</string>
	<key>GCM_SENDER_ID</key>
	<string>912821432229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppSns01</string>
	<key>PROJECT_ID</key>
	<string>flutter-sns-app01</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sns-app01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912821432229:ios:3714ea0ca36928773d824c</string>
</dict>
</plist>